{% extends 'base.html' %} {% block content %}
<br />
<br />
<!--Jumbotron-->
<div class="row">
  <div class="col">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-4 text-muted font-weight-bold">
          747 Designs & Prints
        </h1>
        <h4 class="text-capitalize">
          Innovate Your Ideas and bring them to life!
        </h4>
        <p>
          <a
            class="btn btn-outline-primary btn-lg btn-round"
            href="#"
            role="button"
            >Learn more &raquo;</a
          >
        </p>
      </div>
    </div>
  </div>
</div>

<section class="intro py-4">
  <!--Heading Flexbox-->
  <div class="col text-center">
    <h1 class="text-uppercase text-muted mb-1">
      <strong>what do we do?</strong>
    </h1>
    <div class="title-underline bg-warning"></div>
  </div>

  <!--Intros-->
  <div class="container mt-5">
    <div class="row">
      <!--Intro Col-->
      {% for intro in intros %}
      <div class="col-md-4">
        <h1>{{intro.title}}</h1>
        <p class="lead text-left">{{intro.description}}</p>
      </div>
      {% endfor %}
    </div>
  </div>
</section>

<section class="contentbody bg-light py-5">
  <div class="row">
       <div class="col-md-7">
        <h2 class="featurette-heading text-muted">Featurette.</h2>
      
      </div>
      <div class="col-md-5">
        <div class="card mdl-shadow--4dp">
          <img class="featurette-image img-fluid  mx-auto" src="img/jay.jpg" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
          <div class="card-body">
            <h5 class="card-title text-capitalize text-muted d-flex justify-content-center">
              Javon Browne
            </h5>

          </div>
          <!-- card footer-->
          <div class="card-footer bg-info d-flex justify-content-around">
            <a href="#"><i class="fab fa-facebook fa-2x text-light"></i></a>
            <a href="#"><i class="fab fa-twitter fa-2x text-light"></i></a>
            <a href="#"><i class="fab fa-youtube fa-2x text-light"></i></a>
            <a href="#"><i class="fab fa-google fa-2x text-light"></i></a>
          </div>
          <!-- end of card footer -->
        </div>
      </div>
  </div>

</section>

{% endblock %}
