{% extends 'base.html' %} {% block content %}
<br />
<br />
<!--Jumbotron-->
<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-muted font-weight-bold">747 Designs & Prints</h1>
        <h4 class="text-capitalize">
          Innovate Your Ideas and bring them to life!
        </h4>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p>
      </div>
    </div>
    <!--Column of Text-->
    <div class="container">
        <div class="row">

            <!--Text Col One-->
            {% for intro in intros %}
            <div class="col-md-4">
                <h1>
                    {{intro.title}}
                </h1>
                <p>
                    {{intro.description}}
                </p>
            </div>
            {% endfor %}
            

            <!--Text Col Two-->
            {% for intro in intros %}
              <div class="col-md-4">
                  <h1>
                    {{intro.title}}
                  </h1>
                  <p>
                    {{intro.description}}
                  </p>
              </div>
            {% endfor %}

            <!--Text Col Three-->
            {% for intro in intros %}
            <div class="col-md-4">
                <h1>
                    Heading
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat explicabo voluptates laboriosam inventore, nostrum quibusdam natus odit molestiae necessitatibus cupiditate!
                </p>
            </div>
            {% endfor %}

        </div>
    </div>
  </div>
</div>
{% endblock %}
