{% extends 'base.html' %} {% block content %}
<br />
<br />
<!--Jumbotron-->
<div class="row">
  <div class="col-12">
    <div class="jumbotron">
      <div class="container">
        <h1 class="display-3 text-muted font-weight-bold">747 Designs & Prints</h1>
        <h4 class="text-capitalize">
          Innovate Your Ideas and bring them to life!
        </h4>
        <p>
          <a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a>
        </p>
      </div>
    </div>
    
    <!--Heading Flexbox-->
    <div class="col text-center">
      <h1 class="display-2 text-capitalize text-muted mb-5">
        <strong>what do we do?</strong>
      </h1>
      <div class="title-underline bg-warning"></div>
    </div>

    <!--Intros-->
    <div class="container">
        <div class="row">

            <!--Text Col One-->
            {% for intro in intros %}
            <div class="col-md-4">
                <h1>
                    {{intro.title}}
                </h1>
                <p class="lead text-left">
                    {{intro.description}}
                </p>
            </div>
            {% endfor %} 
        </div>
    </div>
  </div>
</div>
{% endblock %}
