 <!--Column of Text-->
    <div class="container">
        <div class="row">

            <!--Text Col One-->
            {% for intro in intros %}
            <div class="col-md-4">
                <h1>
                    {{intro.title}}
                </h1>
                <p>
                    {{intro.description}}
                </p>
            </div>
            {% endfor %}
            

            <!--Text Col Two-->
            {% for intro in intros %}
              <div class="col-md-4">
                  <h1>
                    {{intro.title2}}
                  </h1>
                  <p>
                    {{intro.description2}}
                  </p>
              </div>
            {% endfor %}

            <!--Text Col Three-->
            {% for intro in intros %}
            <div class="col-md-4">
                <h1>
                    Heading
                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat explicabo voluptates laboriosam inventore, nostrum quibusdam natus odit molestiae necessitatibus cupiditate!
                </p>
            </div>
            {% endfor %}

        </div>
    </div>
